@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

@font-face { 
    font-family: 'Happy Tails New'; 
    src: 
        url('./HappyTAils.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 
 
body {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
    }

 .font{
    font-family: 'Happy Tails New', cursive;
    text-align: center;
    background-color: #fff;
 }

.homelogo{
        width: 40px;
        height: 60px;
        margin: 5px;
    }

.header {
    background-color: white;
    border-radius: 10px;
}



.navbar {
    display: flex;
    background-color: #3e4143;
    justify-content: center;
    margin: 0px;

}

.nav-item {
    padding: 14px 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav-item a:hover {
    background-color: goldenrod;
    border-radius: 2px;
}

.flex1 {
    display: flex;
    align-items: center;
    gap: 15%;
    flex-direction: row;
}


.flex1 img {
    background: transparent;
}

.flex1 input {
    width: 400px;
    height: 12px;
    padding: 13px;
}

.flex1 button:hover {
    background-color: black;
    border-radius: 20px;
}

.flex1 button {
    padding: 10px 20px; 
    background-color: grey; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease;
    border-radius: 10px;
    margin-right: 50px;
    width: 90px;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    border: 2px solid black;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 360px;
    transform: translateY(-50%);
    color: #888;
}

.bannercontainer{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bannerimage {
    width: 100%;
    height: 100%;
    max-width: fit-content;
    object-fit: cover;
    display: block;
    margin: 0;
}

.card-container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    overflow: hidden;
}

   .card-container {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 235.33px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;

}

.card img {
    width: 80px; 
    height: 80px;
    margin: 0 auto;
    display: block;
}

.card-container

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0 0 10px;
}

.card-content p {
    color: #666;
}

.carouselcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    overflow: hidden;
    height: 300px;
}

.carouselcontainer h1 {
    text-align: center;
    font-size: 20px;
    width: 100%; /* Optionally set a max-width for responsiveness */
}

.slider-wrapper {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin: 0; /* Center horizontally */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0.20rem 0.10rem 0.75rem hsla(0, 0%, 0%, 0.25);
    transition: transform 0.5s ease;
    width: 50%;
    height: 300px;
    margin-left: 25%;
}

.slider img {
    flex: 0 0 auto; /*display this 4 images one by one*/
    object-fit: contain;
    scroll-snap-align: start;
    width: 100%; 
    height: 300px;
    padding: 0;
}


.footercontainer {
    background: #2d2f31;
    border-top: 1px solid #3e4143;
    color: #fff;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 3rem;
}

.footer{
    
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    font-size: 12px;
    gap: 20px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: blueviolet;
    text-decoration: none;
  }

  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 70px;
  }




  /* Responsive design for Ipad Mini(768px screen) using Media Quiries*/

@media (max-width: 768px) {
    .header {
      max-width: 768px;
    }

    .header.logobackground{
        background: url(../images/logo.png) no-repeat;
    }
     
    .header .flex1{
        max-width: 600px;
    }

    .homelogo{
        max-width: 200px;
    }

    .flex1 button{
    max-width: 100px;
    width: 100px;
    }

    .search-input{
        max-width: 250px;
    }

    .search-container i{
        display: none;
    }

    .header .flex1{
        max-width: 600px;
    }

    .header a .button{
        max-width: 50px;
    }

    .navbar{
        max-width: 768px;
    }
    .bannercontainer{
        max-width: 768px;
    }
    .card-container{
        max-width: 728px;
        padding: 20px;
    }

    .carouselcontainer {
        max-width: 768px;
        margin: 0px;
        padding: 57px;
    }

   .footercontainer {
    max-width: 768px;
    margin: 0px;
    padding: 10px;
   }
}

  
    
  

  


  
  

  