@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css); 

@font-face { 
    font-family: 'Happy Tails New'; 
    src: 
        url('../HappyTAils.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}



body {
    margin: 0px;
    background-color: #fff;
    font-family: sans-serif;
    position: relative;
}

.homeLogo{
    width: 150px;
    height: 50px;
    margin: 0px;
}

.font{
    font-family: 'Happy Tails New', cursive;
    text-align: center;
 }

.flex1 {
    display: flex;
    align-items: center;
    gap: 15%;
    flex-direction: row;
}

.flex1 input {
    max-width: 400px;
    height: 12px;
    padding: 13px;
}

.flex1 button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease;
    border-radius: 10px;
    width: 90px;
}

.flex1 button:hover {
    background-color: black;
    border-radius: 20px;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 360px;
    transform: translateY(-50%);
    color: #888;
}

.navBar {
    display: flex;
    background-color: #3e4143;
    justify-content: center;
    margin: 0px;
}

.nav-item {
    padding: 14px 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav-item a:hover {
    background-color: goldenrod;
    border-radius: 2px;
}

h1 {
    text-align: center;
}

.catalogueOuter {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    padding: 30px;
}

.catalogue {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
}

.card {
    width: 250px;
    height: 500px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.buy {
    margin: 10px auto;
}

input.quantity-input {
    padding: 2px;
    text-align: center;
    width: 30px;
    border: 1px solid grey;
}

.btn.quantity-button {
    background-color: grey;
    padding: 5px;
    margin: 0;
    color: white;
}

a.btn {
    margin: 0 0 10px 0;
    background-color: grey;
    color: white;
}

a.btn:hover {
    margin: 0 0 10px 0;
    background-color: black;
    color: white;
}

.footerContainer {
    background: #2d2f31;
    border-top: 1px solid #3e4143;
    color: #fff;
    padding: 25px 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    gap: 100px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: blueviolet;
    text-decoration: none;
}

#footer {
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .header {
      max-width: 768px;
    }

    .header.logoBackground{
        background: url(../images/logo.png) no-repeat;
    }
     
    .header .flex1{
        max-width: 600px;
    }

    .flex1 button{
        max-width: 100px;
        width: 100px;
    }

    .search-input{
        max-width: 250px;
    }

    .search-container i{
        display: none;
    }

    .header .flex1{
        max-width: 600px;
    }

    .header a .button{
        max-width: 50px;
    }

    .navBar{
        max-width: 768px;
    }

    .catalogueOuter {
        display: flex;
        gap: 100px;
    }

    .catalogue {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filters {
        max-width: 100px;
        font-size: 0.75rem;
    }

    .filters h3 {
        font-size: 0.9rem;
    }

    .card h5 {
        font-size: 0.95rem;
    }

    .card {
        max-width: 200px;
        height: 425px;
        font-size: 0.75rem;
    }

    .card img {
        max-width: 200px;
        height: 200px;
        object-fit: cover;
    }

   .footerContainer {
        max-width: 768px;
        margin: 0px;
        padding: 10px;
   }
}