body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #8BC34A;
    padding: 10px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    cursor: pointer;
    box-shadow: black;/
    
}

nav ul  {
    
    display: flex;
    list-style-type: none;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.search-icon {
    color: white;
}
.parent-container {
    background-image: url('dog\ img/processed-pet-foods-2732x911.jpg');
    background-size: cover;
    height: 300px;
}
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.dog-foods {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 20px;
}
.dog-foods img {
    width: 300px;
    margin-right: 20px;
}
.dog-foods-content h2 {
    margin-top: 0;
}

.cat-foods {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 20px;
}
.cat-foods img {
    width: 300px;
    margin-right: 20px;
}

.cat-foods-content h2 {
    margin-top: 0;
}


