@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css); 

@font-face { 
    font-family: 'Happy Tails New'; 
    src: 
        url('../fonts/HappyTAils.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 

.header {
    background-color: white;
    border-radius: 10px;
    margin: 0 0 4px 0;
}

.homeLogo{
    width: 150px;
    height: 50px;
    margin: 0px;
}

.navBar {
    display: flex;
    background-color: #3e4143;
    justify-content: center;
    margin: 0px;
}

.nav-item {
    padding: 14px 20px;
    position: relative;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    /* visibility: hidden; */
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
    visibility: visible;
    transform: scaleX(1);
}

.nav-item a:hover {
    background-color: goldenrod;
    border-radius: 2px;
}

.flex1 {
    display: flex;
    align-items: center;
    gap: 15%;
    flex-direction: row;
}


.flex1 img {
    background: transparent;
}

.flex1 input {
    width: 400px;
    height: 12px;
    padding: 13px;
}

.flex1 button:hover {
    background-color: black;
    border-radius: 20px;
}

.flex1 button {
    padding: 10px 20px; 
    background-color: grey; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease;
    border-radius: 10px;
    /* margin-right: 50px; */
    width: 90px;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    border: 2px solid black;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 360px;
    transform: translateY(-50%);
    color: #888;
}

.dropDown a.option {
    text-decoration: none;
    padding: 10px 0;
}

.dropDown {
    display: none;
    position: absolute;
    left: -20px;
    z-index: 1;
    background-color: #3e4143;
    width: 150%;
}

.nav-item:hover .dropDown {
    display: block;
}

.icon {
    display: none;
}

.card:hover .profilePic{
    display: none;
}

.card:hover .icon{
    display: block;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    /* visibility: hidden; */
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
    visibility: visible;
    transform: scaleX(1);
}

img.bannerImage {
    width: 100%;
    margin: 0 auto;
}

.aboutUs, .subscribe, .legalInfo, .theTeam {
    padding: 30px;
    text-align: justify;
}

.theTeam h1 {
    margin: 0 0 20px 0;
}

.memberGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.memberGrid .card {
    padding: 5px;
}

.memberGrid .card h4 {
    text-align: center;
    margin: 10px 0;
}

.memberGrid .card img {
    margin: 0 auto;
    object-fit: cover;
    width: 50%;
    border-radius: 100%;
}

h5.responsiveText {
    display: none;    
}

p.responsiveText {
    display: none;
}

.contentPara .container {
    margin: 0 auto;
}

.arrow {
    float: right;
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.arrow-down {
    transform: rotate(-90deg);
}

.contentHeader {
    cursor: pointer;
}

.headerBorder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.contentPara {
    display: none;
    text-align: justify;
}

.contentPara div {
    margin: 10px 0;
}

.container {
    text-align: center;
}

.container form {
    padding: 5px;
}

.container form div {
    margin: 5px;
}

li span.bold {
    font-weight: bold;
}

#contactId {
    text-decoration: underline;
    color: rgb(9, 33, 94);
}

.btn.submitBtn {
    border-radius: 30px;
    background-color: #ff4500; 
    color: white;
    cursor: pointer;
    margin: 0 auto;
}

.btn.submitBtn:hover {
    background-color: #1f5586;
    color: white;
}

.footerContainer {
    background: #2d2f31;
    border-top: 1px solid #3e4143;
    color: #fff;
    padding: 25px 50px;
}

.col input {
    width: 75%;
}

.footer {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    gap: 100px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: blueviolet;
    text-decoration: none;
}

#footer {
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .header {
      max-width: 768px;
    }
     
    .header .flex1{
        max-width: 600px;
    }

    .homeLogo{
        max-width: 200px;
    }

    .search-input{
        max-width: 250px;
    }

    .search-container i{
        display: none;
    }

    .header .flex1{
        max-width: 600px;
    }

    .header a .button{
        max-width: 50px;
    }

    .navBar{
        max-width: 768px;
    }

   .footerContainer {
        max-width: 768px;
        margin: 0px;
        padding: 10px;
   }

   .aboutUs, .legalInfo, .subscribe, .theTeam{
        padding: 0px 50px;
        text-align: justify;
   }

   .memberGrid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .memberGrid .card {
        text-align: center;
    }

    .card ul{
        display: none;
    }

    h5.responsiveText {
        display: block;    
    }

    p.responsiveText {
        display: block;
    }

    .memberGrid .card img {
        margin: 0 auto;
        border-radius: 50%;
        object-fit: cover;
        width: 30%;
    }
}